{
    "singleQuote": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "jsxSingleQuote": true,
    "useTabs": false,
    "semi": false,
    "tabWidth": 4
}